<div class="hero-panel">
  <div class="hero-panel__images">
    <div class="hero-panel__image hero-panel__image--1" [ngClass]="{ 'hero-panel__image--active': currentIndex === 0 }"></div>
    <div class="hero-panel__image hero-panel__image--2" [ngClass]="{ 'hero-panel__image--active': currentIndex === 1 }"></div>
    <div class="hero-panel__image hero-panel__image--3" [ngClass]="{ 'hero-panel__image--active': currentIndex === 2 }"></div>
  </div>
  <div class="hero-panel__pickers">
    <span class="hero-panel__item-selector hero-panel__item-selector--left"  [ngClass]="{ 'hero-panel__item-selector--active': currentIndex === 0 }" (click)="currentIndex = 0"></span>
    <span class="hero-panel__item-selector hero-panel__item-selector--right" [ngClass]="{ 'hero-panel__item-selector--active': currentIndex === 1 }" (click)="currentIndex = 1"></span>
    <span class="hero-panel__item-selector hero-panel__item-selector--right" [ngClass]="{ 'hero-panel__item-selector--active': currentIndex === 2 }" (click)="currentIndex = 2"></span>
  </div>
</div>
