@import "variables";
@import "buttons";

.create-issue {
  padding: $page-container-padding;

  h2 {
    span {
      .material-icons {
        font-size: 1em;
        position: relative;
        top: 5px;
      }
    }
  }

  h6 {
    color: $colour-lightgrey;
    margin-bottom: 50px;
  }

  &__progress-container {
    background: $colour-white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;

    &--shadow {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }
  }

  &__progress-wizard {
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    width: 800px;
    display: flex;

    &--primary {
      flex: 2;
    }

    &--secondary {
      flex: 1;
      position: relative;
      padding-left: 26px;

      i.material-icons {
        position: absolute;
        left: -15px;
        font-size: 50px;
        top: -17px;
        z-index: 1;

        &.icon-hide {
          color: $colour-white;
          left: -18px;
          z-index: 2;
        }
      }
    }
  }

  &__form {
    overflow: hidden;
    position: relative;
    transition: height 0.3s ease-in;
    width: 800px;
    margin: 0 auto;
  }

  &__form-step {
    left: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all 0.4s ease-in;
    width: 100%;

    &--previous {
      left: -100%;
    }

    &--current {
      left: 0;
      opacity: 1;
    }

    &--next {
      left: 100%;
    }
  }

  &__title {
    margin-top: 45px;
  }

  &__question-container {
    margin: 20px 0;

    & + & {
      margin-top: 35px;
    }
  }

  &__question {
    margin: 10px 0;
    display: flex;

    &--number {
      $dimension: 35px;

      border-radius: 50%;
      border: 2px solid $colour-theme-primary;
      height: $dimension;
      line-height: $dimension - 4px;
      margin-right: 10px;
      position: relative;
      text-align: center;
      top: -7px;
      width: $dimension;
    }
  }

  &__answer {
    margin-bottom: 10px;
    padding-left: 45px;
  }

  &__dependent {
    max-height: 0;
    overflow: hidden;
    transition: all 0.25s ease-in;

    &--reveal {
      max-height: 550px;
    }
  }

  &__sub-question {
    margin: 20px 0 10px 0;
  }

  &__divider {
    margin: 25px 0;
  }

  &__radio-group {
    display: inline-flex;
    flex-direction: column;
  }

  &__input-text {
    width: 500px;
  }

  &__actions {
    margin: 30px 0;
    text-align: right;

    button + button {
      margin-left: 10px;
    }
  }

  &__btn-next {
    @include gradient-btn();
    @include gradient-btn--progress();
  }

  &__btn-submit {
    @include gradient-btn();
    @include gradient-btn--progress();
  }

  &__btn-save-draft {
    @include gradient-btn();
    @include gradient-btn--primary();
  }

  &__submission-screen {
    position: relative;
    width: 800px;
    margin: 0 auto;

    mat-list-item {
      cursor: pointer;
    }
  }

  &__submission-states {
    position: fixed;
    top: 102px;
    right: 30px;
    width: 240px;
    z-index: 1;
  }

  &__submission {
    &--success {

      h1 {
        img {
          position: relative;
          height: 40px;
          top: -4px;
        }
      }

      h1,
      .id {
        color: #1fbea5;
      }

      h4 {
        padding-top: 20px;
      }

      a {
        color: $colour-theme-primary;
        cursor: pointer;
      }

      .id {
        font-size: 1.5em;
      }
    }

    &--error {
      h1 {
        color: #e64d6e;

        img {
          position: relative;
          height: 45px;
          top: -4px;
        }
      }

      p {
        margin-bottom: 0;
      }

      p:first-of-type {
        padding-top: 20px;
      }

      mat-list-item {
        position: relative;

        &::before {
          content: "›";
          font-size: 30px;
          position: absolute;
          top: -1px;
          color: #e64d6e;
        }
      }
    }
  }
}
