@import 'variables';

.create-issue {
    padding: $page-container-padding;

    h6 {
        color: $colour-lightgrey;
        margin-bottom: 50px;
    }

    &__progress-wizard {
        margin: 0 auto;
        padding: 50px 0;
        text-align: center;
        width: 600px;
    }

    &__form {
        overflow: hidden;
        position: relative;
        transition: height 0.3s ease-in;
        width: 100%;
        margin: 0 auto;
    }

    &__form-step {
        left: 100%;
        position: absolute;
        top: 0;
        opacity: 0;
        transition: all 0.4s ease-in;
        width: 100%;

        &--previous {
            left: -100%;
        }

        &--current {
            left: 0;
            opacity: 1;
        }

        &--next {
            left: 100%;
        }
    }

    &__question-container {
        margin: 20px 0;
    }

    &__question {
        margin: 10px 0;
        display: flex;

        &--number {
            $dimension: 35px;

            border-radius: 50%;
            border: 2px solid $colour-theme-primary;
            height: $dimension;
            line-height: $dimension - 2px;
            margin-right: 10px;
            position: relative;
            text-align: center;
            top: -7px;
            width: $dimension;
        }
    }

    &__answer {
        margin-bottom: 10px;
        padding-left: 45px;
    }

    &__divider {
        margin: 25px 0;
    }

    &__radio-group {
        display: inline-flex;
        flex-direction: column;
    }

    &__actions {
        margin: 30px 0;
        text-align: right;
    }
}
