<div class="home">

  <div class="intro">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-4">
          <div class="intro__description align-middle">
            <h1 class="intro__title">Herb for home</h1>
            <h3 class="intro__subtitle">For all your quality spice needs</h3>
          </div>
        </div>
        <div class="col-md-12 col-lg-8">
          <div class="intro__carousal">
            <app-carousal></app-carousal>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="stats">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h3 class="stats__title">Herb in numbers</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="stats__item">

          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="stats__item">

          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="stats__item">

          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="stats__item">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer__links">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-xs-12">
            one
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            two
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            three
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            four
          </div>
        </div>
      </div>
    </div>

    <div class="footer__foundation">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
