@import '~@angular/material/theming';

.container-fluid {
    padding: 20px;
}

.intro {
    background-attachment: fixed;
    // background-image: url(../../../assets/img/elcarito-1043551-unsplash.jpg);
    background-color: #313D4C;
    background-repeat: no-repeat;
    background-size: cover;
    color: #e2e2e2;
    height: 600px;
    padding: 20px 0 0 0;
    position: relative;

    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background: #f6f7f8;
    color: #343E4B;

    &::before {
        content: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(256, 256, 256, 0.65);
    }

    .container-fluid,
    .row,
    .col {
        height: 100%;
    }

    &__description {
        text-align: left;
        padding-top: 100px;
        padding-left: 50px;
    }

    &__title {
        color: #071423;
    }

    &__subtitle {
        color: #343E4B;
    }

    &__proposition {
        margin-top: 20px;
    }

    &__carousal {
        position: relative;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
    }
}

.value {
    background: #f6f7f8;
    padding: 0 20px 50px 20px;
    text-align: center;

    .container-fluid {
        background: #eaf0f2;
    }

    &__header {
        margin-bottom: 30px;
    }

    &__image {

        margin-bottom: 30px;

        img {
            $icon-size: 90px;

            height: $icon-size;
            width: $icon-size;
        }
    }

    &__title {
        font-size: 1.3em;
        margin-bottom: 15px;
    }

    &__description {
        padding: 0 40px;
    }
}

.cards {
    background: #F6F7F8;
    padding: 50px 0;

    &__item {
        background-size: cover;
        padding: 20px;
        height: 440px;
        width: 100%;
        position: relative;

        &--one {
            background-image: url(../../../assets/img/photo-1516900557549-41557d405adf.jpg);
            color: #F6F7F8;
        }

        &--two {
            background-image: url(../../../assets/img/photo-1415509038608-afca35072cff.jpg);
        }

        &--three {
            background-image: url(../../../assets/img/photo-1455539002418-a4cd5aa3ec04.jpg);
            color: #F6F7F8;
        }
    }

    &__title {
        font-size: 1.5em;
        color: #F6F7F8;
        margin-bottom: 30px;
    }

    &__cta {
        bottom: 20px;
        position: absolute;
    }

}

.stats {
    background: #343E4B;
    padding: 50px 0;
    color: white;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#697892+0,262d3b+100 */
    background: #697892; /* Old browsers */
    background: -moz-linear-gradient(top, #697892 0%, #262d3b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #697892 0%,#262d3b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #697892 0%,#262d3b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#697892', endColorstr='#262d3b',GradientType=0 ); /* IE6-9 */

    &__title {
        text-align: center;
        margin-bottom: 25px;
    }

    &__item {
        @include mat-elevation(2);

        background: rgba(2, 7, 12, 0.3);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 300px;
        margin: 20px 0;
    }

    &__sub-title {
        text-align: center;
        color: #ebebeb;
        padding: 25px 0 10px 0;
        font-size: 1.3em;
    }

    &__legend {
        position: relative;
        top: -110px;
    }
}

.footer {

    &__links {
        background: #050e19;
        color: #b4b7b9;
        min-height: 300px;
        padding-top: 30px;
    }

    &__notes {
        font-size: 0.8em;

        &--title {
            font-size: 1.5em;
            margin-bottom: 15px;
        }

        &--prototype {
            font-size: 25px;
        }
    }
}
