@import '~@angular/material/theming';

.container-fluid {
    padding: 20px;
}

.intro {
    background-attachment: fixed;
    background-image: url(../../../assets/img/elcarito-1043551-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #494949;
    height: 800px;
    padding: 20px 0;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(256, 256, 256, 0.65);
    }

    .container-fluid,
    .row,
    .col {
        height: 100%;
    }

    &__description {
        position: relative;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
    }

    &__carousal {
        position: relative;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
    }
}

.stats {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#222234+0,3f4c6b+100 */
    background: #222234; /* Old browsers */
    background: -moz-linear-gradient(45deg, #222234 0%, #3f4c6b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #222234 0%,#3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #222234 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222234', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    padding: 40px 0;
    color: white;

    &__title {
        text-align: center;
        margin-bottom: 25px;
    }

    &__item {
        @include mat-elevation(4);
        background: white;

        border-radius: 5px;
        height: 300px;
        margin: 20px 0;
    }
}

.footer {

    &__links {
        background: #2d2d2d;
        height: 300px;
        color: white;
    }

    &__foundation {
        height: 50px;
        background: #111;
    }
}
