<div class="home">

  <div class="intro">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-4">
          <div class="intro__description align-middle">
            <h1 class="intro__title">Lorem Ipsum</h1>
            <h3 class="intro__subtitle">Dolor sit amet consectetur</h3>
            <p class="intro__proposition">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
          </div>
        </div>
        <div class="col-md-12 col-lg-8 d-none d-lg-block">
          <div class="intro__carousal">
            <app-carousal></app-carousal>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="value">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="value__image">Img1</div>
          <div class="value__title">Title1</div>
          <div class="value__description">Description 1</div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="value__image">Img2</div>
          <div class="value__title">Title2</div>
          <div class="value__description">Description 2</div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="value__image">Img3</div>
          <div class="value__title">Title3</div>
          <div class="value__description">Description 3</div>
        </div>
      </div>
    </div>
  </div>

  <div class="stats">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h3 class="stats__title">Prototype in Numbers</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="stats__item">
            <div class="stats__sub-title">Status</div>
            <div class="stats__chart">
              <ngx-charts-pie-chart
                [view]="[200, 200]"
                [scheme]="'air'"
                [results]="statusData[0]"
                [animations]="true"
                [legend]="false"
                [explodeSlices]="true"
                [labels]="false"
                [doughnut]="true"
                [arcWidth]="0.15"
                [gradient]="false"
                [tooltipDisabled]="false">
              </ngx-charts-pie-chart>
            </div>
            <div class="stats__legend">
              Stats 1
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="stats__item">
              <div class="stats__sub-title">Status</div>
              <div class="stats__chart">
                  <ngx-charts-pie-chart
                    [view]="[200, 200]"
                    [scheme]="'ocean'"
                    [results]="statusData[1]"
                    [animations]="true"
                    [legend]="false"
                    [explodeSlices]="true"
                    [labels]="false"
                    [doughnut]="true"
                    [arcWidth]="0.15"
                    [gradient]="false"
                    [tooltipDisabled]="false">
                  </ngx-charts-pie-chart>
                </div>
                <div class="stats__legend">
                  Stats 2
                </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="stats__item">
              <div class="stats__sub-title">Status</div>
              <div class="stats__chart">
                  <ngx-charts-pie-chart
                    [view]="[200, 200]"
                    [scheme]="'solar'"
                    [results]="statusData[2]"
                    [animations]="true"
                    [legend]="false"
                    [explodeSlices]="true"
                    [labels]="false"
                    [doughnut]="true"
                    [arcWidth]="0.15"
                    [gradient]="false"
                    [tooltipDisabled]="false">
                  </ngx-charts-pie-chart>
                </div>
                <div class="stats__legend">
                  Stats 3
                </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="stats__item">
              <div class="stats__sub-title">Status</div>
              <div class="stats__chart">
                  <ngx-charts-pie-chart
                    [view]="[200, 200]"
                    [scheme]="'forest'"
                    [results]="statusData[3]"
                    [animations]="true"
                    [legend]="false"
                    [explodeSlices]="true"
                    [labels]="false"
                    [doughnut]="true"
                    [arcWidth]="0.15"
                    [gradient]="false"
                    [tooltipDisabled]="false">
                  </ngx-charts-pie-chart>
                </div>
                <div class="stats__legend">
                  Stats 4
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer__links">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="footer__notes">
              <div class="footer__notes--title">Prototype</div>
              <div>All rigts reserved</div>
              <div>Copyright &copy; {{ currentYear }}</div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="footer__notes--title">About Us</div>
            <div>Meet the team</div>
            <div>What we do</div>
            <div>Where we are</div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="footer__notes--title">Legal</div>
            <div>Terms and conditions</div>
            <div>Data Policy</div>
            <div>Barry the cool bird</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
