@import '~@angular/material/theming';

.container-fluid {
    padding: 20px;
}

.intro {
    background-attachment: fixed;
    // background-image: url(../../../assets/img/elcarito-1043551-unsplash.jpg);
    background-color: #313D4C;
    background-repeat: no-repeat;
    background-size: cover;
    color: #e2e2e2;
    height: 800px;
    padding: 20px 0;
    position: relative;

    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background: #f6f7f8;
    color: #343E4B;

    &::before {
        content: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(256, 256, 256, 0.65);
    }

    .container-fluid,
    .row,
    .col {
        height: 100%;
    }

    &__description {
        // position: relative;
        text-align: left;
        // top: 50%;
        // transform: translateY(-50%);
        padding-top: 100px;
        padding-left: 50px;
    }

    &__title {
        color: #071423;
    }

    &__subtitle {
        color: #343E4B;
    }

    &__proposition {
        margin-top: 20px;
    }

    &__carousal {
        position: relative;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
    }
}

.stats {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#222234+0,3f4c6b+100 */
    // background: #222234; /* Old browsers */
    // background: -moz-linear-gradient(45deg, #222234 0%, #3f4c6b 100%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(45deg, #222234 0%,#3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(45deg, #222234 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222234', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    background: #343E4B;
    padding: 50px 0;
    color: white;

    &__title {
        text-align: center;
        margin-bottom: 25px;
    }

    &__item {
        @include mat-elevation(2);

        background: #3E4B5B;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 300px;
        margin: 20px 0;
    }

    &__sub-title {
        text-align: center;
        color: #ebebeb;
        padding: 25px 0 10px 0;
    }

    &__legend {
        position: relative;
        top: -110px;
    }
}

.footer {

    &__links {
        background: #02070c;
        height: 300px;
        color: white;
    }
}
