<div class="home">

  <div class="intro">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-5">
          <div class="intro__description align-middle">
            <h1 class="intro__title">Lorem Ipsum</h1>
            <h3 class="intro__subtitle">Dolor sit amet consectetur</h3>
            <p class="intro__proposition">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
            <p class="intro__proposition">Nulla aliquet a augue vel maximus. Quisque quis lacinia urna. Aenean vitae justo eget magna efficitur sollicitudin. Suspendisse porta sem sed mauris commodo, eget ultrices augue efficitur. Cras accumsan blandit nunc et vehicula</p>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 d-none d-lg-block">
          <div class="intro__carousal">
            <app-carousal></app-carousal>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="value">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="value__header">
            <h1>What we do</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="value__image"><img src="../../../assets/img/value-icon-1.svg" /></div>
          <div class="value__title">Value 1</div>
          <div class="value__description">Suspendisse id nisi dolor. Cras sapien urna, commodo sit amet orci sit amet, vestibulum gravida felis. Quisque elit massa, mollis non facilisis vel, sodales nec eros</div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="value__image"><img src="../../../assets/img/value-icon-2.svg" /></div>
          <div class="value__title">Value 2</div>
          <div class="value__description">Phasellus quis purus luctus, faucibus nisl sit amet, mattis nulla. Sed dignissim neque laoreet odio laoreet, nec euismod lectus venenatis dapibus, justo vitae scelerisque</div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="value__image"><img src="../../../assets/img/value-icon-3.svg" /></div>
          <div class="value__title">Value 3</div>
          <div class="value__description">Vivamus dapibus, justo vitae scelerisque egestas, neque urna ullamcorper leo, fringilla condimentum dui arcu vel ex. Etiam consequat massa dictum</div>
        </div>
      </div>
    </div>
  </div>

  <div class="cards">
    <div class="container-fluid">
      <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="cards__item cards__item--one">
              <div class="cards__title">Donec tincidunt magna</div>
              <div class="cards__description">Aliquam eget tellus elit. In elit tellus, facilisis in tincidunt vitae, mollis non est</div>
              <div class="cards__cta"><button mat-raised-button color="accent" class="toolbar__cta">Take control</button></div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="cards__item cards__item--two">
              <div class="cards__title">Praesent sollicitudin</div>
              <div class="cards__description">Aliquam eget tellus elit. In elit tellus, facilisis in tincidunt vitae, mollis non est</div>
              <div class="cards__cta"><button mat-raised-button color="accent" class="toolbar__cta">Click here</button></div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="cards__item cards__item--three">
              <div class="cards__title">Quisque viverra rutrum</div>
              <div class="cards__description">Aliquam eget tellus elit. In elit tellus, facilisis in tincidunt vitae, mollis non est</div>
              <div class="cards__cta"><button mat-raised-button color="accent" class="toolbar__cta">Action everything</button></div>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="stats" *ngIf="false">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h3 class="stats__title">Prototype in Numbers</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="stats__item">
            <div class="stats__sub-title">Status</div>
            <div class="stats__chart">
              <ngx-charts-pie-chart
                [view]="[200, 200]"
                [scheme]="'air'"
                [results]="statusData[0]"
                [animations]="true"
                [legend]="false"
                [explodeSlices]="true"
                [labels]="false"
                [doughnut]="true"
                [arcWidth]="0.15"
                [gradient]="false"
                [tooltipDisabled]="false">
              </ngx-charts-pie-chart>
            </div>
            <div class="stats__legend">
              Stats 1
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="stats__item">
              <div class="stats__sub-title">Status</div>
              <div class="stats__chart">
                  <ngx-charts-pie-chart
                    [view]="[200, 200]"
                    [scheme]="'ocean'"
                    [results]="statusData[1]"
                    [animations]="true"
                    [legend]="false"
                    [explodeSlices]="true"
                    [labels]="false"
                    [doughnut]="true"
                    [arcWidth]="0.15"
                    [gradient]="false"
                    [tooltipDisabled]="false">
                  </ngx-charts-pie-chart>
                </div>
                <div class="stats__legend">
                  Stats 2
                </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="stats__item">
              <div class="stats__sub-title">Status</div>
              <div class="stats__chart">
                  <ngx-charts-pie-chart
                    [view]="[200, 200]"
                    [scheme]="'solar'"
                    [results]="statusData[2]"
                    [animations]="true"
                    [legend]="false"
                    [explodeSlices]="true"
                    [labels]="false"
                    [doughnut]="true"
                    [arcWidth]="0.15"
                    [gradient]="false"
                    [tooltipDisabled]="false">
                  </ngx-charts-pie-chart>
                </div>
                <div class="stats__legend">
                  Stats 3
                </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="stats__item">
              <div class="stats__sub-title">Status</div>
              <div class="stats__chart">
                  <ngx-charts-pie-chart
                    [view]="[200, 200]"
                    [scheme]="'forest'"
                    [results]="statusData[3]"
                    [animations]="true"
                    [legend]="false"
                    [explodeSlices]="true"
                    [labels]="false"
                    [doughnut]="true"
                    [arcWidth]="0.15"
                    [gradient]="false"
                    [tooltipDisabled]="false">
                  </ngx-charts-pie-chart>
                </div>
                <div class="stats__legend">
                  Stats 4
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer__links">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="footer__notes">
              <div class="footer__notes--title">Prototype</div>
              <div>All rigts reserved</div>
              <div>Copyright &copy; {{ currentYear }}</div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="footer__notes--title">About Us</div>
            <div>Meet the team</div>
            <div>What we do</div>
            <div>Where we are</div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="footer__notes--title">Legal</div>
            <div>Terms and conditions</div>
            <div>Data Policy</div>
            <div>Barry the cool bird</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
