$topbar-height: 80px;

.top-toolbar {
    background: #091a2e;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: relative;
    z-index: 2;
}

.sidenav {
    $bg: #071423;

    background: $bg;
    position: relative;
    z-index: 1;

    &__sidebar {
        background: $bg;
        color: white;
        width: 230px;
    }

    &__main {
        background: #fafafa;
        min-height: calc(100vh - #{$topbar-height});
    }

}
