.top-toolbar {
    background: #0b1029;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: relative;
    z-index: 2;
}

.sidenav {
    min-height: calc(100vh - 64px);
    background: transparent;
    position: relative;
    z-index: 1;

    mat-sidenav {
        width: 200px;
        background: transparent;
    }

}
