<mat-card class="profile">
  <mat-card-content>

    <div class="profile__info">
      <div mat-card-avatar class="profile__image"></div>
      <mat-card-title class="profile__name">Barry The Bird</mat-card-title>
      <mat-card-subtitle class="profile__job">Business Analyst</mat-card-subtitle>
    </div>

    <div class="profile__actions">
      <div class="profile__action-item" matRipple>
        <mat-icon class="profile__action-icon">drafts</mat-icon>
        <div class="profile__action-title">Drafts</div>
      </div>
      <div class="profile__action-item" matRipple>
        <mat-icon class="profile__action-icon">view_list</mat-icon>
        <div class="profile__action-title">Actions</div>
      </div>
      <div class="profile__action-item" matRipple>
        <mat-icon matBadge="2" matBadgePosition="above after" matBadgeColor="accent" class="profile__action-icon">notifications</mat-icon>
        <div class="profile__action-title">Alerts</div>
      </div>

    </div>
  </mat-card-content>
</mat-card>
