<div class="progress-wizard">

  <div class="progress-wizard__progress-bar">
    <div class="progress-wizard__progress-bar-step"
      *ngFor="let step of steps; index as i"
      [ngClass]="getProgressBarStepClass(i+1)"
      [ngStyle]="getProgressBarStepStyle(i+1)"
      >
    </div>
  </div>

  <!-- Steps of form -->
  <div class="progress-wizard__steps">
    <div class="progress-wizard__step-item"
      *ngFor="let step of steps; index as i"
      (click)="onStepClick(i+1)"
      [ngClass]="getProgressBarLabelClass(i)">{{ step.title }}</div>
  </div>

</div>
