@import 'variables';

$border-radius: 15px;

.progress-wizard {
    width: 100%;

    &__progress-bar {
        background: #ccc;
        border-radius: $border-radius;
        height: 15px;
        margin-bottom: 15px;
        overflow: hidden;
        position: relative;
    }

    &__progress-bar-step {
        border-bottom-right-radius: $border-radius;
        border-top-right-radius: $border-radius;
        height: 15px;
        left: -100%;
        position: absolute;
        transition: 0.3s all ease-in;

        &--showing {
            left: 0;
        }
    }

    &__steps {
        display: flex;
    }

    &__step-item {
        cursor: pointer;
        flex-basis: 0;
        flex-grow: 1;
        font-size: 0.8em;
        padding: 10px;

        &--previous {
            color: $colour-theme-primary;
        }

        &--active {
            font-weight: 600;
        }

        &--next {
            color: $colour-lightgrey;
        }
    }

}
