<div class="container-fluid hero-panel">
  <div class="row">
    <div class="col-4 hero-panel__left">
      <div class="hero-panel__description">
        <h1>DQD Redesign</h1>
      </div>
    </div>
    <div class="col-8 hero-panel__right">
      <div class="hero-panel__images">
        <div class="hero-panel__image hero-panel__image--1"></div>
        <div class="hero-panel__image hero-panel__image--2"></div>
        <div class="hero-panel__image hero-panel__image--3"></div>
      </div>
      <div class="hero-panel__pickers">
        <mat-radio-group class="hero-panel__item-selectors" [(ngModel)]="currentIndex">
          <mat-radio-button class="hero-panel__item-selector" [value]="1"></mat-radio-button>
          <mat-radio-button class="hero-panel__item-selector" [value]="2"></mat-radio-button>
          <mat-radio-button class="hero-panel__item-selector" [value]="3"></mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
</div>
