@import "variables";
@import "buttons";

.business-impact {
  width: 800px;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;

  h2 {
    span {
      .material-icons {
        font-size: 1em;
        position: relative;
        top: 5px;
      }
    }
  }

  h6 {
    color: $colour-lightgrey;
    margin-bottom: 50px;
  }

  &__form {
    position: relative;
  }

  &__title {
    margin-top: 45px;
  }

  &__question-container {
    margin: 20px 0;

    & + & {
      margin-top: 35px;
    }
  }

  &__question {
    margin: 10px 0;
    display: flex;

    &--number {
      $dimension: 35px;

      border-radius: 50%;
      border: 2px solid $colour-theme-primary;
      height: $dimension;
      line-height: $dimension - 2px;
      margin-right: 10px;
      position: relative;
      text-align: center;
      top: -7px;
      width: $dimension;
    }
  }

  &__answer {
    margin-bottom: 10px;
    padding-left: 45px;
  }

  &__user-selected {
    padding-left: 40px;
  }

  &__chip-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__chip {
    display: flex;
    color: $colour-white;
    border-radius: 20px;
    margin: 5px;

    &-text {
        background: $colour-theme-primary;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        font-size: 1em;
        line-height: 30px;
        margin: 0;
        padding: 2px 6px 2px 16px;
    }

    &-close {
        background: $colour-theme-primary;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        cursor: pointer;
        transition: all 0.2s ease-in;

        &:hover {
            background: darken($colour-theme-primary, 10%);
        }
    }

    .material-icons {
        position: relative;
        top: 6px;
        font-size: 1.12em;
        padding: 2px 10px 2px 4px;
    }
  }

  &__radio-group {
    display: inline-flex;
    flex-direction: column;
  }

  &__input-text {
    width: 500px;
  }
}
