<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <span class="toolbar__icon-container">
      <div class="toolbar__menu" (click)="toggleMenu()">
        <span class="toolbar__menu-icon">
          <svg class="ham hamRotate ham8" viewBox="0 0 100 100" width="80" [ngClass]="{ 'active': isMenuOpen }">
            <path class="line top" d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20" />
            <path class="line middle" d="m 30,50 h 40" />
            <path class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20" />
          </svg>
        </span>
      </div>
    </span>

    <span class="toolbar__menu-title"><a routerLink="/home">Prototype</a></span>

    <span>
      <button mat-raised-button color="accent" class="toolbar__cta" (click)="onCreateIssueClick()">Create Issue</button>
    </span>

    <span class="toolbar__filler"></span>

    <span class="toolbar__search" [ngClass]="{ 'toolbar__search--active': isSearchVisible }">
      <button mat-icon-button (click)="toggleSearch(true)" class="toolbar__search-icon">
        <mat-icon>search</mat-icon>
      </button>

      <input type="text" placeholder="Search" class="toolbar__search-input" #txtSearch />

      <button mat-icon-button (click)="toggleSearch(false)" class="toolbar__search-close">
        <mat-icon>close</mat-icon>
      </button>
    </span>

  </mat-toolbar-row>
</mat-toolbar>
