<div class="inbox">

  <h1>Inbox</h1>

  <div class="inbox__filters">
    <mat-card>
        <mat-checkbox class="inbox__filter-option" [(ngModel)]="isOwnedBySelected">Owned by me</mat-checkbox>
        <mat-checkbox class="inbox__filter-option" [(ngModel)]="isSubmitterInboxSelected">Submitted by me</mat-checkbox>
        <mat-checkbox class="inbox__filter-option" [(ngModel)]="isUnclaimedIssuesSelected">Unclaimed issues</mat-checkbox>
    </mat-card>
  </div>

  <div class="inbox__table">

    <div class="inbox__headers">

      <div class="inbox__header-item">
        <div class="inbox__bulk-select">
          <mat-checkbox [(ngModel)]="isBulkSelectSelected" [(indeterminate)]="isPartialSelect" (change)="onBulkSelectClick()"></mat-checkbox>
        </div>
        <div (click)="sortBy('caseNumber')" class="inbox__header-label">Column 1</div>
        <div>
          <i class="material-icons" *ngIf="headers[0].sortOrder === 'asc'">arrow_drop_down</i>
          <i class="material-icons" *ngIf="headers[0].sortOrder === 'desc'">arrow_drop_up</i>
        </div>
      </div>

      <div class="inbox__header-item" (click)="sortBy('owner')">
        <div>Column 2</div>
        <div>
          <i class="material-icons" *ngIf="headers[1].sortOrder === 'asc'">arrow_drop_down</i>
          <i class="material-icons" *ngIf="headers[1].sortOrder === 'desc'">arrow_drop_up</i>
        </div>
      </div>

      <div class="inbox__header-item" (click)="sortBy('identifiedBy')">
        <div>Column 3</div>
        <div>
          <i class="material-icons" *ngIf="headers[2].sortOrder === 'asc'">arrow_drop_down</i>
          <i class="material-icons" *ngIf="headers[2].sortOrder === 'desc'">arrow_drop_up</i>
        </div>
      </div>

      <div class="inbox__header-item" (click)="sortBy('caseStatus')">
        <div>Column 4</div>
        <div>
          <i class="material-icons" *ngIf="headers[3].sortOrder === 'asc'">arrow_drop_down</i>
          <i class="material-icons" *ngIf="headers[3].sortOrder === 'desc'">arrow_drop_up</i>
        </div>
      </div>

      <div class="inbox__header-item" (click)="sortBy('taskId')">
        <div>Column 5</div>
        <div>
          <i class="material-icons" *ngIf="headers[4].sortOrder === 'asc'">arrow_drop_down</i>
          <i class="material-icons" *ngIf="headers[4].sortOrder === 'desc'">arrow_drop_up</i>
        </div>
      </div>

      <div class="inbox__header-item" (click)="sortBy('criticality')">
        <div>Column 6</div>
        <div>
          <i class="material-icons" *ngIf="headers[5].sortOrder === 'asc'">arrow_drop_down</i>
          <i class="material-icons" *ngIf="headers[5].sortOrder === 'desc'">arrow_drop_up</i>
        </div>
      </div>

      <div class="inbox__header-item inbox__header-item--actions">Actions</div>
    </div>

    <div *ngFor="let item of inboxData" class="inbox__row-container" [ngClass]="{'inbox__row--expanded': item.isExpanded }">
      <div class="inbox__row" (click)="onRowClick(item)">
        <div class="inbox__row-item">
          <mat-checkbox [(ngModel)]="item.isSelected"
            (change)="onSingleItemSelectChange()"
            (click)="onSingleItemSelectClick($event)"></mat-checkbox>
          {{ item.caseNumber }}
        </div>
        <div class="inbox__row-item">{{ item.owner }}</div>
        <div class="inbox__row-item">{{ item.identifiedBy }}</div>
        <div class="inbox__row-item">{{ item.caseStatus }}</div>
        <div class="inbox__row-item">{{ item.taskId }}</div>
        <div class="inbox__row-item">{{ item.criticality }}</div>
        <div class="inbox__row-item inbox__row-item--actions">
          <i class="material-icons inbox__action--expand">expand_more</i>
          <i class="material-icons">edit</i>
          <i class="material-icons">alarm</i>
        </div>
      </div>
      <div class="inbox__row-details">
        <span>{{ details }}</span>
      </div>
    </div>

  </div>

  <div class="inbox__paginator">
    <mat-paginator [length]="150" [pageSize]="25" [pageSizeOptions]="[25, 50, 100, 150]">
    </mat-paginator>
  </div>

</div>
