@import "~@angular/material/theming";
@import "variables";

.inbox {
  background: #fafafa;
  padding: $page-container-padding;

  &__filter-option {
    & + & {
      margin-left: 20px;
    }
  }

  &__loader {
    margin: 20px 0;
    text-align: center;

    mat-card {
      text-align: center;
    }

    mat-spinner {
      display: inline-block;
      margin: 20px 0;
    }
  }

  &__table {
    @include mat-elevation(2);
    margin: 20px 0;
  }

  &__table-actions {
    display: flex;
    padding: 20px 10px 0 10px;
    width: 100%;
  }

  &__table-action-item {
    flex: 1;
    padding: 0 10px;
    text-align: center;

    &:last-child {
      padding-right: 8px;
    }

    i {
      font-size: 2em;
    }
  }

  &__table-filter {
    flex: 20;

    mat-form-field {
      width: 100%;
      position: relative;
      top: -12px;
    }

    input {
      padding-right: 35px;
    }

    i {
      float: right;
      color: $colour-lightgrey;
      position: relative;
      top: 32px;
      font-size: 1.8em;
    }
  }

  &__table-export {
    padding-top: 27px;
  }

  &__headers,
  &__row {
    display: flex;
    padding: 8px 0;
  }

  &__header-item,
  &__row-item {
    flex-basis: 0;
    flex-grow: 1;
    padding: 0 10px;

    &--actions {
      color: $colour-lightgrey;
      flex-basis: 125px;
      flex-grow: 0;
      text-align: right;

      i {
        color: $colour-lightgrey;
        transition: all 0.2s ease-in;
      }

      a:hover {
        i {
          color: $colour-darkgrey;
        }
      }

      a,
      i {
        margin-left: 7px;
      }
    }
  }

  &__headers {
    background: #212b43;
    color: white;
    margin-bottom: 8px;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 2;

    ::ng-deep .mat-checkbox .mat-checkbox-frame {
      border-color: white;
    }
  }

  &__header-item {
    display: flex;

    &:not(.inbox__header-item--actions) {
      cursor: pointer;
    }

    i.material-icons {
      display: inherit;
      margin-left: 8px;
    }

    &--actions {
      color: white;
      justify-content: flex-end;
      text-align: center;
    }
  }

  &__header-label {
    margin-left: 6px;

    &--action {
      margin-right: 38px;
    }
  }

  &__header-customise {
    i {
      background: #303b56;
      color: #fafafa;
      cursor: pointer;
      font-size: 1.2em;
      height: 54px;
      line-height: 53px;
      position: absolute;
      right: 0;
      top: 0px;
      width: 40px;
    }
  }

  &__header-table-options-wizard {
    position: absolute;
    cursor: inherit;
    top: 54px;
    right: 0;
  }

  &__wizard {
    &-close {
      text-align: right;
      margin-bottom: 4px;

      i {
        cursor: pointer;
        display: inline;
      }
    }

    &-list {
      text-align: left;
      margin: 4px 12px;

      ::ng-deep .mat-checkbox .mat-checkbox-frame {
        border-color: $colour-darkgrey;
      }
    }
  }

  &__row-container {
    border: none;
    border-bottom: 1px solid #ecebeb;
  }

  &__row {
    cursor: pointer;

    &:hover {
      background: #eff0f2;
    }

    &--expanded {
      .inbox {
        &__row-details {
          max-height: 150px;
        }

        &__action--expand {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__action {
    &--expand {
      display: inline-block;
      transform: rotate(0deg);
      transition: any 0.2s ease-in;
    }
  }

  &__row-details {
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in;

    span {
      display: inline-block;
      padding: 15px 10px;
    }
  }

  .mat-checkbox {
    position: relative;
    top: 3px;
    margin-right: 5px;
  }

  &__actions {
    button {
      margin-right: 8px;
      background: $colour-theme-primary;
      color: $colour-white;
    }
  }
}
