@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

// @import 'app/app.mat-theme.scss';

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    // background: #191a25;
    // color: white;
}

button:focus {
    outline: 0;
}
