@import '~@angular/material/theming';
@import '../../app/app.mat-theme';

// Theme colours palettes
$palette-theme-primary: mat-palette($my-theme-primary);
$palette-theme-accent: mat-palette($my-theme-accent);
$palette-theme-warn: mat-palette($my-theme-warn);
// Theme colours for use in components
$colour-theme-primary: mat-color($palette-theme-primary);
$colour-theme-accent: mat-color($palette-theme-accent);
$colour-theme-warn: mat-color($palette-theme-warn);

// Custom global Colours
$colour-white: #fafafa;
$colour-black: #000;
$colour-lightgrey: #888;

// Padding and widths
$page-container-padding: 25px;
$inter-element-padding: 20px;

// grab colours from angular material theme
// $mat-primary: mat-color($my-theme-primary);
// $mat-accent: mat-color($my-theme-accent);
// $mat-warn: mat-color($my-theme-warn);
