@import '~@angular/material/theming';
@import '../../app/app.mat-theme';

// Theme colours palettes
$palette-theme-primary: mat-palette($my-theme-primary);
$palette-theme-accent: mat-palette($my-theme-accent);
$palette-theme-warn: mat-palette($my-theme-warn);
// Theme colours for use in components
$colour-theme-primary: mat-color($palette-theme-primary);
$colour-theme-accent: mat-color($palette-theme-accent);
$colour-theme-warn: mat-color($palette-theme-warn);

// Custom global Colours
$colour-white: #fafafa;
$colour-black: #000;
$colour-lightgrey: #888;
$colour-darkgrey: #444;
$colour-lightblue: #b9d6f2;

// Padding and widths
$page-container-padding: 25px;
$inter-element-padding: 20px;
