// @import '~@angular/material/theming';

// Colours
$colour-white: #fff;
$colour-black: #000;
$colour-lightgrey: #888;

// Padding and widths
$page-container-padding: 25px;
$inter-element-padding: 20px;

// grab colours from angular material theme
// $mat-primary: mat-color($my-theme-primary);
// $mat-accent: mat-color($my-theme-accent);
// $mat-warn: mat-color($my-theme-warn);
