// @import '~@angular/material/theming';

$colour-white: #fff;
$colour-black: #000;

// grab colours from angular material theme
// $mat-primary: mat-color($my-theme-primary);
// $mat-accent: mat-color($my-theme-accent);
// $mat-warn: mat-color($my-theme-warn);
